.cart-list-head-container {
    position: relative;
    padding: 15px;
    padding-left: 15px;
    height: 110px;
    font-size: 0.8rem;
    background-color: #131313;
    /*box-shadow: 0px 2px 3px 0px rgba(72, 72, 72, 0.35);*/
    color: hsla(0, 0%, 90%, 0.78);
}
a.copy-btn {
    display: inline-block;
    padding: 5px;
    border-radius: .4rem;
    color: #9de89d;
    font-size: 0.6rem;
    box-shadow: 0 0 4px rgba(0,0,0,.3), inset 0 0 0 1px hsla(0, 0%, 100%, 0.2);
    transition: background-color 0.2s ease, color 0.2s ease;
}
a.copy-btn:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: #f0ad4e;
}
.cart-list-container{
    position: absolute;
    top: 70px;
    bottom: 10px;
    right: 10px;
    border-radius: 0 0 .4rem .4rem;
    background-color: rgba(0,0,0,.96);
    overflow: hidden;
    overflow-y: auto;
    z-index: 2000;   
    transition: transform 0.3s ease;
    box-shadow: 2px 2px 2px #080808;
}
.cart-list-container.hide{
    transform: translateX(110%);
}
.cart-list{
    list-style: none;
    margin: 0 0 5px 0px;
    padding: 0;
    min-width: 220px;
}
.cart-list-item{
    margin-bottom: 1px;
    padding: 6px 35px;
    /*border-radius: 0.4rem;*/
    position: relative;
    transition: background-color 0.2s ease;
}

.cart-list-item:nth-child(odd){
    background-color: rgba(41, 41, 41, 0.2);
}
.cart-list-item:hover{
    background-color: rgba(41, 41, 41, 0.66);
}
.cart-list-progress{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    border-radius: 0.2rem;
    background-color: rgba(92, 184, 92, 0.43);
    transition: width 0.2s linear;
    z-index: -1;
}
.cart-list-item .flexbox{
    display: flex;
}
.cart-list-item > .flexbox > a.flex-a{
    color: hsla(0,0%,100%,.75);
    text-decoration: none;
    display: block;
}
/*.cart-list-item > .flexbox > a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}*/
.cart-list-title{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 500;
    width: 220px;
}
.cart-list-title .cart-list-year{
    color: hsla(0,0%,100%,.3);
}

.cart-list-img-container{
    display: inline-block;
    width: 28px;
    height: 42px;
    margin-right: 10px;
}
.cart-list-image{
    background-image: url("https://image.tmdb.org/t/p/w500/kSBXou5Ac7vEqKd97wotJumyJvU.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.remove-btn-container {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background-color: #292929;
    opacity: 0;
    transition: opacity 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.cart-list-item:hover .remove-btn-container{
    opacity: 0.9;
}

.list-btn-remove {
    position: absolute;
    top:50%;
    bottom:0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.cart-list-item:hover .remove-btn-container:hover{
    background-color: #ff3232;
    color: #fff;
}

.top-right-corner{
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 8px;
    font-size: 1.2rem;
    color: #fff;
    transition: color 0.2s ease;
}

.slideout-btn{
    cursor: pointer;
}
.slideout-btn:hover > .top-right-corner{
    color: #f0ad4e;
}

.bottom-right-corner{
    position: absolute;
    right: 5px;
    bottom: 0;
    padding: 5px 10px;
    min-width: 100px;
    height: 34px;
    background-color: #080808;
    color: #f0ad4e;
    font-weight: 500;
    text-align: center;
    font-size: 0.9rem;
}