 /*
*** EDIT FORM CSS
 */

button{
    cursor: pointer;
}

.btn{
    padding: 6px 1pc;
    text-transform: uppercase;
    font-size: 0.9rem;
    border: 0;
}

.btn-primary {
    border-color: #b56d16;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,.4), 0 0 15px rgba(0,0,0,.2);
    background-color: #ec971f;
    box-shadow: inset 0 1px 0 #e7993b;
    transition: background-color .1s;
}
.btn-primary:hover,focus{
    color: #fff;
    background-color: #e4840f;
    box-shadow: inset 0 1px 0 #ebac60;
}

.btn-default{
    border-color: #ccc;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,.4), 0 0 15px rgba(0,0,0,.2);
    background-color: #4a4a4a;
    box-shadow: inset 0 1px 0 #696969;
    transition: background-color .1s;
}

.btn-default:hover,focus{
    color: #fff;
    background-color: #555;
    box-shadow: inset 0 1px 0 #7d7d7d;
}

.btn-label{
    opacity: 1;
}

.btn-label.hide{
    opacity: 0;
}

.btn-fetch{
    border-radius: 0 .25rem .25rem 0;
    border: 1px solid rgba(0,0,0,.15);
}

.edit-modal{
    position: fixed;
    top:0; left:0; right:0; bottom:0;
}
.modal-background-fade{
    background-color: #000;
    opacity: 0;
    position: fixed;
    top:0; left:0; right:0; bottom:0;
    transition: opacity 0.3s ease;
    z-index: 1040;
}

.modal-background-fade.in{
    opacity: 0.6;
}

.dialog{
    width: 200px;
    height: 200px;
    color: #fff;
}

@media screen and (min-width: 768px){
    .modal-lg>.modal-dialog {
        max-width: 750px;
        /*margin: 30px auto;*/
    }
}
.modal{
    margin: auto;
}
.modal-dialog{
    padding-top: 25px;
    padding-bottom: 25px;
}
.modal-content{
    transform: translateY(-300px);
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    transition: all 0.3s ease;
    background-color: transparent;
}
.modal-content.in{
    transform: translateY(0);
    opacity: 1;
}
.modal.show{
    display: inherit;
}
.modal-header{
    background: #323232;
    border-bottom: #222;
    padding: 15px 20px;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;

}

.modal-header .close-btn{
    margin-top: 6px;
    font-size: 1pc;
    color: #999;
    text-shadow: none;
    outline: 0;
}

.modal-body{
    background: #282828;
}
.modal-body-scroll {
    max-height: 25pc;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-body-main{
    height: 25pc;
    padding: 20px;
    padding-top: 0px;
}

.edit-loading-error{
    text-align: center;
}

.spinner-container{
    transform: translateY(8pc);
}

.modal-footer{
    background: #323232;
    border-top: #222;
    padding: 15px 20px;
    margin-top: 0;
    border-radius: 0 0 3px 3px;
}

.form-field-group{
    width: 100%;
}

.ng-invalid:not(form)  {
  border-left: 3px solid #f73c37; /* red */
}

label{
    color: #999;
}
.edit-input{
    transition: all 0.2s ease;
}
input.edit-input{
    background: #555;
    color: #eee; 
    font-size: 0.9rem ;
    line-height: 1.6; 
    padding: 6px 12px;
}

input.edit-input:focus{
    background: #eee;
    color: #222;
}
select.edit-input{
    background: #555;
    color: #eee; 
    font-size: 0.9rem ;
    font-weight: bold;
}
textarea.edit-input{
    background: #555;
    color: #eee; 
    font-size: 0.9rem ;
    line-height: 1.6; 
    padding: 6px 12px;
    min-height: 140px;
    max-height: 180px;
}

textarea.edit-input:focus{
    background: #eee;
    color: #222;
}

.edit-block{
    background: #222;
    color: #aaa;
}

.edit-block.lockable:hover, .edit-block.lockable.unlock{
    color: #ec971f;
    cursor: pointer;
}
.edit-label{
    
}
.input-group{
    
}

.tab-head{
    background: #2b2a2a;
    z-index: 1090;
    border-bottom: 1px #232222 solid;
}

.tab-group{
    list-style-type: none;
    margin: 0;
}

.tab{
    display: inline-block;
    padding: 0.5rem 2rem;
    margin: 0px;
    cursor: pointer;
    color: #ccc;
    transition: all 0.2s ease;
}
.tab.active, .tab.active:hover{
    color: #f0ad4e;
    background: #282828;
}
.tab:hover{
    color: #fff;
    background: rgba(62, 62, 62, 0.53);
}
.tab:active, focus{
    color: #f0ad4e;
    background: #282828; 
}

.tab>.icon{
        margin-right: 0.5rem;
}

.spinner-container{
    transform: translateY(8pc);
}

.spinner-container.collection{
    transform: translateY(3pc);
}

.edit-loading-error{
    text-align: center;
}