<div class="modal-background-fade" [class.in]="show" (transitionend)="fadeEnd()"></div>
<div class="modal show">
  <div class="modal-dialog">
    <div class="modal-content" [class.in]="show">
      <div class="modal-header">
        <div class="modal-title">Select collection</div>
        <button type="button" class="close close-btn" (click)="editClose()"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
      <div class="modal-body collection modal-body-scroll dark-scrollbar">
        <div class="modal-body-main edit-loader collection" [hidden]="loaded">
          <div class="spinner-container collection">
            <div *ngIf="error" class="edit-loading-error"><span class="glyphicon glyphicon-exclamation-sign"></span> Cannot load collections</div>          
            <div *ngIf="!error" class="spinningCircle"></div>
          </div>
        </div>
        <div class="modal-body-main collection" [hidden]="!loaded">
            <div class="collection">
                <ul class="collection-list">
                  <li *ngFor="let collection of collectionList" class="collection-list-item striped-list-item">
                    <a href="javascript:void(0)" (click)="addtoCollection(collection.id, movieId)">
                      <div class="collection-list-item-block collection-list-item-icon">
                        <span class="glyphicon glyphicon-ok"></span>
                      </div>
                      <div class="collection-list-item-block text">
                        {{collection.name}}
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="create">
                  <div class="input-group">
                    <span class="input-group-addon collection-addon"><i class="fa fa-plus-circle"></i></span>
                    <input [(ngModel)]="collectionName" class="form-control collection-input" type="text" placeholder="Create new collection">
                  <div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="error || !loaded" class="btn btn-primary loading-btn" (click)="createCollection()">Create</button>
      </div>
    </div>
  </div>
</div>